[submodule "intro_ia"]
	path = intro_ia
    url = git@github.com:jteich99/intro_ia.git
    branch = main
[submodule "peia"]
	path = peia
	url = git@github.com:jteich99/peia.git
    branch = main
[submodule "amia"]
	path = amia
	url = git@github.com:jteich99/amia.git
    branch = main
[submodule "deeplearning2"]
	path = deeplearning2
	url = git@github.com:jteich99/deeplearning.git
[submodule "ml2"]
	path = ml2
	url = git@github.com:jteich99/machineLearning.git
[submodule "data_analysis"]
	path = data_analysis
	url = git@github.com:jteich99/data_analysis.git
[submodule "ml"]
	path = ml
	url = git@github.com:jteich99/machineLearning.git
[submodule "deeplearning"]
	path = deeplearning
	url = git@github.com:jteich99/deeplearning.git
