[submodule "intro_ia"]
	path = intro_ia
	url = git@github.com:jteich99/intro_ia.git
[submodule "peia"]
	path = peia
	url = git@github.com:jteich99/peia.git
[submodule "amia"]
	path = amia
	url = git@github.com:jteich99/amia.git
